{% extends 'backbase.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <a href="{{ path('categorie_index') }}">back to list</a>
    <h1>Modifier cette categorie</h1>

    {{ include('categorie_credit/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('categorie_credit/_delete_form.html.twig') }}
{% endblock %}
