{% extends 'backbase.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Ajouter une nouvelle categorie</h1>

    {{ include('categorie_credit/_form.html.twig') }}

    <button class="btn" onclick="window.location.href='{{ path('categorie_index') }}'">Annuler</button>
{% endblock %}
