{% extends 'backbase.html.twig' %}

{% block title %}<title>New Carte</title>{% endblock %}

{% block content %}
    <h1>Create new Carte</h1>

    {{ include('carte/_form.html.twig') }}

    <a href="{{ path('app_carte_index') }}">back to list</a>
{% endblock %}
